{% extends 'base.html.twig' %}

{% block title %}Inscription pour être candidat au Fablab ELECTRON
{% endblock %}

{% block body %}
	<div class="container w-25 mt-5 m-auto">
		{{ form_start(formCandidat) }}
            {{ form_row(formCandidat.nom)}}
            {{ form_row(formCandidat.prenom)}}
            {{ form_row(formCandidat.email)}}
            {{ form_row(formCandidat.password)}}
		    <button type="submit" class="btn btn-success">S'inscrire</button>
		{{ form_end (formCandidat) }}
	</div>

{% endblock %}
