<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>
			{% block title %}Admin - {% endblock %}
		</title>
		
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('admin') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('admin') }}
		{% endblock %}
	</head>
	<body>
		<div class="container-fluid">
			<div
				class="row">

				{# sidebar starts #}
				<div class="col-2 sidebar"></div>
					<a href="{{ path('app_admin') }}" class="sidebar__link"><div class="sidebar__link__onglet">Dashboard</div></a>
					<a href="{{ path('app_admin_candidat') }}" class="sidebar__link"><div class="sidebar__link__onglet">Liste des candidats</div></a>
						{# sidebar ends #}

				{# maincontent starts #}

				<div
					class="col">

					{#flash message #}
					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ label }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endfor %}


					{# le corps de la partie admin #}
					<div class="container mt-5">
					{% block body %}{% endblock %}
					</div>

				</div>

				{# maincontent ends #}
			</div>
		</div>


	</body>
</html>
