{% extends 'base.html.twig' %}

{% set body_class = 'login-page' %}

{% block title %}Conectez vous sur Electron
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}

	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<div class="loginBox">
		<img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
		<h3>Connetez vous</h3>

        <form action="{{ path('app_login') }}" method="post" >
			<div class="inputBox">
				
				
                <input type="text" id="username" name="_username" value="{{ last_username }}"  placeholder="Votre email" required>
                <input type="password" id="password" name="_password" placeholder="Mot de passe" required>
			</div>
			<input type="submit" name="" value="Connexion">
		</form>
		
	</div>

	
{% endblock %}
